.mainscreen{
    border-radius: 2vh;
    background-color: red;
    margin: auto;
    width: 90vw;
    border: 2px white solid;
    padding: 1vh 1vw;
    height: 90vh;
}

.InfoBar{
    margin: 1vh 1vw;
    margin-left: 0vw;
    width: 26vw;
    display: inline-block;
    vertical-align: middle;
}

.sidewall{
    background-color: red;
    padding: 5vh;
}

.Menu{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0vw;
    height: 87vh;
    width: 60vw;
    border: 1px white solid;
    border-radius: 1vh;
    /* margin-top: 1vh; */
    /* background-color: white; */
}

.middletext{
    text-align: center;
}

.perc30{
    width: 30%;
    margin: 1.5%;
}

.PersonalDetails{
    /* float: right; */
    width: 60vw;
    /* margin: 4vh 3%; */
    /* border: 1px solid white; */
    white-space: nowrap;
}

/* .PersonalDetails button{
    width: 100%;
} */

.ProductList{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 55vh;
    width: 60vw;
    white-space: nowrap;
}

.ProductCard{
    height: 50vh;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.ProductCard img{
    margin: 10px;
    margin-left: 50px;
    width: 200px;
    height: 20vh;
    border-radius: 10px;
}

.qwe{
    width: 30vw;
    border-radius: 1vh;
    height: 5vh;
    margin-left: 15vw;
    margin-top: 5vh;
    text-align: center;
}

.qwe2{
    margin-top: 2vh;
    margin-left: 15vw;
    width: 30vw;
    border-radius: 1vh;
    height: 20vh;
    text-align: center;
}

.qwe3{
    margin-top: 2vh;
    margin-left: 15vw;
    /* border: 1px solid white; */
}

.qwe4{
    margin-top: 2vh;
    margin-left: 15vw;
}

.qwe5{
    width: 30vw;
    border-radius: 1vh;
    height: 5vh;
    margin-left: 15vw;
    margin-top: 2vh;
    text-align: center;
}

.PCI{
    margin-left: 50px;
    
}

.PCD1{
    margin: 20px 10px;
    height: 55px;
    text-align: center;
}

.PCD2{
    margin: 20px 10px;
    height: 100px;
    text-align: center;
    padding: 0 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.PCD3{
    margin-left: 100px;
}

.NM{
    width: 15vw;
    margin-left: 5vw;
    border-radius: 1vh;
    height: 4vh;
    text-align: center;
}

.NMR{
    margin-left: 30vw;
    margin-top: 3vh;
}

.MN{
    display: inline-block;
    margin-top: 0vh;
    margin: 1vh;
    width: 20vh;
    height: 20vh;
    border-radius: 1vh;
    vertical-align:top;
    border: 1px white solid;
}

.MN2{
    display: inline-block;
    padding-top: 3vh;
}